.h1test{
    background-color: pink;
    margin-left: 100px;
    font-size: 40px;
    padding: 6px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 25px;
    margin-bottom: 10px;
}

.h2test{
    background-color: aquamarine;
    margin-left: 100px;
    font-size: 24px;
    padding: 6px;
    border: 1px solid rbg(114, 114, 114);
    border-radius: 25px;
    text-align: center;
    width: 540px;
    margin-top: 0;
}

.divtest{
    display: flex;
    flex-direction: column;
    align-items: center;
}