.card{
  width: 245px;
  height: 324px;
  border-radius: 20px;
  background-color: #4E7992;
  margin: 10px;
}


.resizeMe{
  width: 159px;
  height: 168px;
  position: relative;
  left: 43px;
  top: 15px;
  border-radius: 50%;
}

text{
  width: 245px;
  height: 45px;
  position: relative;
  left: 28px;
  top: 19px;

  font-family:'Inter', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffff;
}

.icon-box{
  display: flex;
  justify-content:center;
/*   font-size: 22px; */
  position: relative;
  top: 50px;
  color: #3D3280;
}

.item{
  display: flex;
  padding-left: 7.5px;
  padding-right: 7.5px;
  font-size: 28px;
}

.subroot{
  display: flex;
  flex-wrap: wrap;
}